.container {
  .fieldset {
    padding: 30px;
    margin-top: 50px;
    h5 {
      text-align: center;
      margin: 20px auto 50px auto;
      color: rgb(212, 51, 56);
      font-weight: 700;
    }
  }
  .error {
    color: rgb(212, 51, 56);
  }
  .opcoes {
    float: left;
  }
  #aceitar {
    margin-left: 1%;
  }
  #btnProximo {
    display: none;
  }
}
