.container {
  fieldset {
    padding: 30px;
    margin: 50px;
    h5 {
      text-align: center;
      margin: 20px auto 50px auto;
      color: rgb(212, 51, 56);
      font-weight: 700;
    }
  }
}
