.container-fluid {
  .box-topo {
    margin-bottom: 30px;
    .row {
      .col-md-12 {
        .float-right {
          .margin {
            margin-top: 20px;
          }
          .input-group {
            margin-top: 15px;
            padding-left: 5px;
          }
        }
        .text-diploma {
          padding: 30px;
          position: relative;
          top: 20px;
        }
      }
    }
  }
}

.container {
  #diploma {
    background-image: url(../../assets/imgs/diploma-icone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    .content {
      display: inline-block;
      width: 800px;
      text-align: center;
      margin: 20% 0 0 20%;

      .paragraph {
        margin: 0;
        font-weight: 300;

        span {
          font-weight: bold;
        }
        &.-marginBottom {
          margin-bottom: 40px;
        }
      }
      #name {
        text-transform: uppercase;
        font-size: 1.5rem;
        margin: 20px 0;
        color: #af1c27;
      }
      #course {
        display: block;
        font-size: 1.3rem;
        margin: 17px auto;
        max-width: 550px;
      }
    }

    .signatures {
      display: flex;
      text-align: center;
      margin-top: 60px;
      .signature {
        width: 22%;

        border-top: 1px solid black;
        span {
          display: block;
          font-weight: bold;
        }
        &:first-child {
          margin-left: 18%;
        }
        &:not(:last-child) {
          margin-right: 6%;
        }
      }
    }
  }
}
