.container {
  .margin-top {
    margin-top: 20px;
  }
  .titulo {
    margin-top: 30px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
  }
  .subtitulos {
    color: red;
  }
  fieldset {
    .margins {
      margin: 2% 5%;
    }
  }
}
