.container {
  fieldset {
    border: 1px solid #ccc;
    padding-top: 25px;
    padding-bottom: 0px !important;
    #menu ul li {
      margin: 2% 0 0 2%;
      display: inline;
    }
    ul {
      padding-left: 0px !important;
      margin-bottom: 0px !important;
    }
  }
}

.table2 {
  margin-top: 50px;
}

.container {
  table {
    margin-top: 50px;
    tbody {
      tr {
        td {
          .circle {
            width: 35px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.container {
  .row {
    .col-md-6 {
      .custom-control {
        margin-left: 1vw;
        font-weight: bold;
      }
    }
  }
}

.custom-checkbox :checked.custom-control-input ~ .custom-control-label::before {
  background-color: #000 !important;
}

.link-cor {
  z-index: 1 !important;
  color: rgb(98, 121, 128) !important;
  background-color: rgb(178, 50, 57) !important;
  border-color: rgb(16, 28, 33) !important;
}

td:hover,
a:hover {
  cursor: pointer;
}
