form {
  .submit-line {
    position: relative;
    width: 100%;
  }
  .submit-line input {
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: 0px;
    padding-left: 0px !important;
    background-color: transparent;
    padding-bottom: 5px;
  }
  .submit-lente {
    position: absolute;
    top: -5px;
    right: -10px;
    z-index: 10;
    border: none;
    background: transparent;
    outline: none;
  }
  .search {
    margin-left: 2vw;
  }
}
