form {
  .submit-line {
    position: relative;
    width: 100%;
  }
  .submit-line input {
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: 0px;
    padding-left: 0px !important;
    background-color: transparent;
    padding-bottom: 10px;
  }
  .submit-lente {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    border: none;
    background: transparent;
    outline: none;
  }
  .search {
    margin-left: 1vw;
  }
}
