button {
  padding: 5px 15px;
  background-color: transparent;
  color: #000;
  border: 1px solid #ccc;
}
button:hover {
  cursor: pointer;
}
.ul {
  .li {
    list-style: none;
    border-bottom: 1px solid #c0c0c0;
    .a {
      letter-spacing: 0;
      color: #333;
      text-decoration: none;
      padding: 5px 10px;
      display: block;
      font-size: 12px;
      padding: 5px !important;
    }
  }
}

.a:hover {
  text-decoration: none;
  background-color: #f8f9fa;
  color: #000;
}

.popup-content {
  padding: 0px !important;
}

td:hover {
  cursor: pointer;
}
